#main-header {
	box-shadow: none;
}

.frame_sub-title_dark {
	color: $dark_blue!important;
}

/*************************************************************/
//*****************ICONS IFRAME 2
/*************************************************************/
.icon_wifi, .icon_parking, .icon_car, .icon_family, .icon_dog, .icon_nosmoking {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url("../images/sprite_ifram_2.png");
	background-position: 0 0;
	position: absolute;
	left: 0;
    top: 0;
    background-repeat: no-repeat;
}
.icon_wifi {
	background-position: -1px -1px;
}
.icon_parking {
    background-position: -36px -1px;
}
.icon_car {
    background-position: -68px -3px;
}
.icon_family {
	background-position: -100px -2px;
}
.icon_dog {
    background-position: -134px -2px;
}
.icon_nosmoking {
    background-position: -171px 0px;
}
/********************END******************************/

/*************************************************************/
//*****************ACCORDION IMAGES
/*************************************************************/
.ui-icon-accordion {
	background-image: url("../images/accordion_arrow.png")!important;
}
.ui-icon-accordion-passive {
	background-image: url("../images/accordion_arrow_passive.png")!important;
}
/********************END******************************/

#main_content > div {
	padding-top: 0;
}


.btn-booking {
    font-size: 12px;
    padding: 0.8% 9.4%;
    display: inline-block;
    background-color: $dark_blue;
    color: #fff;
    box-shadow: 0px 0px 10px #e6e6e6;
    border: 4px solid #fff;
    border-radius: 5px;
    margin-top: 11%;
    cursor: pointer;
}


/*************************************************************/
//*****************MODAL FORM
/*************************************************************/
.fancybox-slide>* {
	background-color: #CEE2FF;
	padding: 1% 2%;
	span {
		color: #CA9F29;
	}
	label {
		font-size: 12px;
		line-height: 12px;
	}
}
.modal_form {
    border: 10px solid #fff;
	background-color: #CEE2FF;
	.wpcf7-form {
		display: flex;
	    flex-direction: column;
	    p:last-of-type {
	    	flex: 0 0 100%;
	    	text-align: center;
	    	position: relative;
	    }
	}
	span {
		color: #CA9F29;
	}
	label {
		font-size: 12px;
		line-height: 12px;
		font-weight: 700;
	}
	h4 {
		font-size: 28px;
		text-align: center;
	}
	input[type=text], input[type=email], input[type=date], input[type=tel], input[type=number], textarea, select {
		font-size: 14px;
		padding: 3% 2%;
		border: 1px solid $black;
		border-radius: 5px;
	}
	p:nth-child(7), p:nth-child(8) {
		flex: 0 0 50%;
		float: left;
	}
	.btn-booking {
		margin-top: 0;
		padding: 2% 10%;
	}
	.wpcf7-not-valid {
		border: 1px solid #F52624!important;
	}
	span.wpcf7-not-valid-tip {
		display: none;
	}
	div.wpcf7-validation-errors {
		display: none!important;
	}
	.ajax-loader {
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto 0;
	}
}
/********************END******************************/