/*************************************************************/
//*****************MAIN PAGE CONTENT
/*************************************************************/
#main_page_content {
	display: flex;
	flex-direction: row;
}
/********************END******************************/

/*************************************************************/
//*****************SIDEBAR
/*************************************************************/
#side_bar {
	flex: 0 0 25%;
	width: 25%;
	margin-right: 3%;
	padding: 0;
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		line-height: 1em;
		margin: 0;
		padding: 0;
		cite {
		    color: #42a5f5;
		    font-style: normal;
		}
	}
	.et_pb_widget_area_left { border-right: none;}
	.widgettitle {
		color: $dark_blue;
		font-size: 1.13em;
		font-weight: 700;
	    padding-bottom: 8%;
	}
	.widget_text {
	    padding: 9% 6.5%;
	    border: 1px solid #9bb8c7;
	    background-color: #F7FAFF;
        margin: 0;
	    margin-bottom: 11.1%;
		&:nth-child(2) {
			padding-bottom: 3%;
		}
	}
    .frame_sub-title {
    	color: $blue;
    	font-size: 14px;
    	font-weight: 700;
    	padding-bottom: 0.6em;
    	position: relative;
    }
	.frame_text {
    	color: $dark_blue;
    	font-size: 0.757em;
    	font-weight: 400;
    	padding-bottom: 1.7em;
    }
    .frame_list {
    	.frame_list_item {
    		padding-bottom: 0.5em;
    		position: relative;
    		padding-left: 	5%;
    		font-weight: 400;
		    font-size: 12px;
    		&:before {
    			content: "";
    			width: 5px;
    			height: 5px;
    			border-radius: 50%;
    			background-color: $dark_blue;
    			position: absolute;
			    left: 0;
			    top: 4px;
    		}
    	}
    }
    .btn-frame {
    	text-align: center;
    }
    .btn-booking {
	    font-size: 12px;
	    padding: 0.8% 9.4%;
	    display: inline-block;
	    background-color: $dark_blue;
	    color: #fff;
        box-shadow: 0px 0px 10px #e6e6e6;
	    border: 4px solid #fff;
	    border-radius: 5px;
	    margin-top: 11%;
    }
    /*************************************************************/
    //*****************FRAME 2
    /*************************************************************/
    .frame_2 {
    	.frame_sub-title {
    		padding-left: 12%;
		    padding-bottom: 1.5em;
    	}
    }
    /********************END******************************/


    /*************************************************************/
    //*****************FRAME 3
    /*************************************************************/
	#accordion {
		h3 {
			position: relative;
			background: transparent;
			border: none;
		    font-size: 14px;
		    padding-left: 0;
			span {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		.ui-accordion-content {
			background: transparent;
			padding: 0;
			border: none;
			li {
				font-size: 12px;
				font-weight: 400;
				cite {
					color: #42a5f5;
					font-style: normal;
				}
			}
		}
	}
    /********************END******************************/


    /*************************************************************/
    //*****************FRAME 4
    /*************************************************************/
    .must_know.frame_list .frame_list_item {
		padding-bottom: 1.4em;
    }
    
    /********************END******************************/

	/*************************************************************/
	//*****************FRAME TESTIMOTIONS
	/*************************************************************/
	.testimotions.frame_list {
		.testimotion_name {
			padding-left: 5%;
			padding-bottom: 2em;
		}
	}
	.testimotions.frame_list > li:nth-child(1) {
			padding-bottom: 1.1em;
	}
	/********************END******************************/





}
#side_bar > div {
	padding-right: 0;
}
/********************END******************************/




/*************************************************************/
//*****************MAIN CONTENT
/*************************************************************/
#main_content {
	flex: 0 0 72%;
	width: 72%;
}
/********************END******************************/





/*************************************************************/
//*****************MAIN CONTENT
/*************************************************************/

#main_content {
	.header_gallery_top {
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
	
		.header_gallery_left {
		    flex: 0 0 37%;
		    margin-right: 0;
		    .et_pb_gallery_item  {
		    	margin-bottom: 10%;
		    }
		    .et_pb_gallery_item:nth-child(2) {
		    	margin-bottom: 0;
		    }
		}
		.header_gallery_right {
		    height: auto;
		    flex: 0 0 60%;
		    margin-left: auto;
		    align-self: stretch;
		}
	}
	.big_photo {
		height: 100%;
		.et_pb_gallery_items {
			height: 100%;
		}
		.et-pb-slider-arrows, .et-pb-controllers {
			display: none;
		}
		.et_pb_gallery_item {
			margin-bottom: 0;
			height: 100%;
			.et_pb_gallery_image {
				height: 100%;
				img {
					height: 100%;
				}
			}
		}
	}
	.bottom_gallery {
		.et_pb_gallery_item.et_pb_grid_item {
			width: 31.66666666%;
			margin-right: 2.5%;
			margin-bottom: 0;
		}
	}
	.bottom_gallery_row {
		padding-bottom: 5%;
	}
	.bottom_gallery, .header_gallery_left, .header_gallery_right {
		.et_overlay { display: none; }
	}
	
	

	/*************************************************************/
	//*****************SECTION APP MORE
	/*************************************************************/
	.yalta-app  {
		padding: 5% 0;
		h2 {
			font-size: 30px;
			font-weight: 400;
		}
	}
	.yalta-app .btn-booking {
        padding: 0% 3.4%;
	    margin-top: 2%;
    }
	/********************END******************************/
}

/*************************************************************/
//*****************SECTION DESCRIPTION
/*************************************************************/
#main_content #section_description {
    padding-top: 3%;
	color: #333333;
	.et_pb_column {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.flextext_tavrida {
		flex: 0 0 100%;
	}
	h2 {
		font-size: 30px;
		color: #333333;
	}
	.desc_img {
		flex: 0 0 34%;
		margin: 0;
		padding: 0;
	}
	.desc_text {
		flex: 0 0 63%;
		font-size: 14px;
		line-height: 22px;
		margin: 0;
		padding: 0;
		h5 {
			font-size: 14px;
		}
	}
	.desc_map {
		flex: 0 0 100%;
		min-height: 270px;
	}
	.et_pb_map {
		min-height: 270px;
		height: 270px;
	}
	.et_pb_module {
		margin-bottom: 7%;
	}
	.list_famous {
		padding-left: 3%;
		font-size: 14px;
		line-height: 22px;
		padding-bottom: 2em;
	}
	ul {
	    width: 50%;
	    padding: 0;
	    margin: 0;
	    float: left;
	}
	cite {
		font-size: 14px;
		line-height: 22px;
	}
}
/********************END******************************/



/*************************************************************/
//*****************TABLE FALTS
/*************************************************************/
#table_flats {
	table th {
		color: $black;
	}
	thead th {
		font-family: 'Playfair Display', sans-serif;
		font-size: 18px;
		font-weight: 400;
		background-color: #ca9f29;
		border: 1px solid #ca9f29;
		border-right: 1px solid #999999;
	}
	thead th:last-of-type {
		border-right: 1px solid #ca9f29;
	}
	tbody th {
		border: 1px solid #999999;
	}
	.tbody_app_type {
		padding-top: 2%;
	}
	.tbody_app_type ul li {
		color: $black;
		font-size: 12px;
		font-weight: 400;
		list-style: none;
		line-height: 3.2em;
		position: relative;
		.btn-booking {
			background-color: transparent;
			border: none;
			box-shadow: none;
			color: #ca9f29;
			font-size: 14px;
			font-weight: 400;
			padding: 0;
			margin-top: 0;
		}
		&:before {
			content: "";
		    width: 27px;
		    height: 34px;
		    display: inline-block;
		    position: absolute;
		    left: -30px;
		    top: 0;
		    bottom: 0;
		    margin: auto 0;
		    background-image: url(/wp-content/themes/Divi/images/sprite-app.png);
		    background-size: cover;
		    background-position: -1px -8px;
		}
		&:nth-child(1):before{
			 background-position: -1px -8px;
		}
		&:nth-child(2):before {
			background-position: -28px -8px;
		}		
		&:nth-child(3):before {
		    background-position: -56px -8px;
		}		
		&:nth-child(4):before {
		    background-position: -85px -8px;
		}		
		&:nth-child(5):before {
		    background-position: -119px -8px;
		}
		&:last-of-type {
			text-align: center;
			&:before {
				display: none;
			}
		}

	}
	.tbody_app_type h4 {
		font-size: 14px;
		color: $black;
		font-weight: 700;
	}

}
/********************END******************************/

/********************END******************************/